/* Hero */

.overlay-container.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;
}

.hero-text-container.details {
  width: 100%;
}

.details-title-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#rating {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border: 3px solid white;
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
  border-radius: 50%;
  background-color: rgb(100, 215, 250);
}

em {
  color: rgba(255, 255, 255, 0.9);
}

.overview-container {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 2px;
}

.cast-container {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.cast-container::-webkit-scrollbar {
  display: none;
}

.cast-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 80px;
}

.cast-item img {
  border-radius: 5px;
}

.cast-name {
  font-size: 0.8rem;
}

#trailer-section {
  height: 100vh;
  background-color: white;
  color: black;
}

.video-row {
  display: flex;
}

.video-row-inner {
  display: flex;

  gap: 1rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  cursor: grab;
}

.video-row-inner::-webkit-scrollbar {
  display: none;
}

.video-player {
  width: 100%;
}
