.movies-section {
  margin-top: calc(8vh + 3rem);
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  min-height: 100vh;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  justify-content: space-between;
  row-gap: 1rem;

  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* media queries */

@media (max-width: 408px) {
  .movies-grid {
    grid-template-columns: repeat(auto-fill, 100px);
  }
}

@media (min-width: 768px) {
  .movies-section {
    padding: 0 5rem;
  }
}

@media (min-width: 1020px) {
  .movies-grid {
    grid-template-columns: repeat(auto-fill, 180px);
  }
}
