/* font imports */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

/* color variables */

/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Monserrat", sans-serif;
  letter-spacing: 1.8px;
}

/* img {
  width: 100%;
} */

h1 {
  margin: 0;
  font-size: 3.8rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

p {
  line-height: 1.6rem;
}

body {
  background-color: hsl(240, 100%, 5%);
  color: hsl(195, 40%, 90%);
}

/* COMPONENT STYLES */

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  min-height: 4rem;
  align-items: center;
  padding: 0.5rem 3rem;
  z-index: 999;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

#logo {
  font-size: 3rem;
  color: white;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  text-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.nav-link:hover {
  color: white;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-search {
  display: none;
}

/* Hero */

#hero-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.hero-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  opacity: 0.4;
  background-size: cover;
  background-repeat: no-repeat;
}

/* .hero-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

/* .hero-container::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), hsl(240, 100%, 5%));
} */

/* #hero-prev {
  color: rgb(200, 200, 200, 0);
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s;
} */

/* #hero-next {
  color: rgb(200, 200, 200, 0);
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s;
} */

/* #hero-prev:hover,
#hero-next:hover {
  color: rgb(255, 255, 255);
} */

#hero-card {
  border-radius: 5px;
}

.inner-hero-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  top: 0;
  bottom: 0;

  margin-right: 33%;
  gap: 3rem;
}

.backdrop-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  text-shadow: 0px 0px 20px rgb(0, 0, 0);
  font-size: 1rem;
  text-align: left;
}

.btn-container {
  display: flex;
  gap: 1rem;
}

.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 10px;
  font-size: 1.6rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: hsla(0, 0%, 80%, 0.7);
}

.hero-btn:hover {
  background-color: white;
}

/* .backdrop-text:hover {
  background-color: rgba(0, 0, 0, 0.7);
} */

/* MOVIE ROW */

.movie-row {
  display: flex;
  flex-direction: column;
  margin: 3rem 3rem;
  gap: 1rem;
}

.movie-row-inner {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.movie-row-inner::-webkit-scrollbar {
  display: none;
}

.movie-card {
  flex: 0 0 auto;
  border-radius: 5px;
  cursor: pointer;
  width: 187px;
  height: 100%;
}

#movie-card-img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

/* MOVIES PAGE STYLES */

#movie-grid-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 0 3rem;
}

#movie-header {
  font-size: 3rem;
  padding: 3rem 0;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

/* DETAILS PAGE */

.details-link {
  text-decoration: none;
}
